*
{
    margin:0px;
    padding:0px;
}

.header{
   background-color: gray;
   line-height: 70px;
   padding-left: 30px; 
}
.header a{
    color:white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
a,a:hover{

    text-decoration: none!important;
  
}
.logout{
    float:right;
    padding-right: 30px;
}
ul{
    background-color: #424a5b;
    width:16%;
    height:100%;
    position:fixed;
    padding-top: 10%;
    text-align: center;
}
ul li{
    list-style: none;
    padding-bottom: 30px;
    font-size: 15px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
ul li a{
    color:white;
    font-size: bold;
}
ul li a:hover{
    color:black;
    text-decoration: none;
}

.content{
    margin-left: 20%;
    margin-top: 5%;
}
.body_deg{
    background-repeat: no-repeat repeat;
    background-size: 100%;
    background-position: fixed;
}